<div class="header"> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand header-logo-style" href="/">OneScript</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/downloads">Скачать</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="/docs/">Документация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/education/">Обучение</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dev/">Сообщество</a>
                </li>
            </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Найти</button>
            </form>
            <a class="nav-link text-light" href="/downloads/">Скачать</a>
            <a class="nav-link text-light" href="/downloads/archive/1_0_21">v 1.0.21</a>
            <a class="nav-link text-light" href="https://github.com/EvilBeaver/OneScript" target="_blank">GitHub 
            <i class="fas fa-link"></i>
            </a>
            </div>
        </div>
    </nav>
</div>