<div class="header"> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="d-flex flex-grow-1">
            <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
            <a class="navbar-brand d-none d-lg-inline-block" href="/">
                OneScript
            </a>
            <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="/">
                <img src="//placehold.it/40?text=LOGO" alt="logo">
            </a>
            <div class="w-100 text-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
            <ul class="navbar-nav ml-auto flex-nowrap">
                <li class="nav-item">
                    <a class="nav-link m-2 menu-item" href="/downloads">Скачать</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-2 menu-item" href="/docs/page/getstarted">Быстрый старт</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-2 menu-item" href="/docs/">Документация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-2 menu-item" href="/syntax/">Синтаксис</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-2 menu-item" href="/library/">Библиотеки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-2 menu-item" href="/dev/">Разработчикам</a>
                </li>
            </ul>
        </div>
    </nav>
</div>