<div class="footer">
    <hr>
    <footer>
        <div>
            <div class="bottom-footer">
                <div class="col-md-12"> 
                    <ul class="footer-nav">
                    </ul>
                </div>
            </div>
            <div class="row pull-center">
                <p> &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &copy; OneScript 2018</p> 
            </div>
        </div>
    </footer>
</div>