<!-- footer -->
<footer>
    <div class="footer-infoblock bottom">
        <div class="container block-footer">
            <div class='@(this.ViewContext.RouteData.Values["controller"].ToString() == "content" ? "footer-box" : "")'>
                <div class="row">
                    <div class="col-md-@Model.ПредставлениеПодвала.РазмерКолонок">
                        <h3 class="theme-color-main">OneScript</h3>
                        <p>@Model.ПредставлениеПодвала.КраткоеОписание</p>
                        <ul class="list-inline social-link">
                            <li class="list-inline-item">
                                <a href="https://github.com/oscript-library" class="text-light" target="_blank"><i class="fab fa-github"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://gitter.im/EvilBeaver/oscript-library" class="text-light" target="_blank"><i class="fab fa-gitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://t.me/oscript_library" class="text-light" target="_blank"><i class="fab fa-telegram"></i></a>
                            </li>
                        </ul>
                    </div> 
                    @foreach(var Колонка in @Model.ПредставлениеПодвала.Колонки) {
                        <div class="col-md-@Model.ПредставлениеПодвала.РазмерКолонок">
                            <h5 class="font-weight-normal w-100">@Колонка.Заголовок</h5>
                            <ul class="list-unstyled nav-footer">
                                @foreach(var Состав in @Колонка.Состав) {
                                    <li>
                                        <a href="@Состав.Ссылка" class="text-light">@Состав.Заголовок</a>
                                    </li>
                                }
                            </ul>
                        </div> 
                    }
                </div> 
                <div class="row text-center footer-legeng">
                    <p class="w-100">@Model.ПредставлениеПодвала.ЛегендаСайта</p>
                </div>    
            </div>
        </div>
    </div>
</footer>
