@{
    ViewBag.Title = "1Script - язык сценариев для специалистов по 1С";
}

@section PageStylesheet{
    <link href="/theme/css/home.css" rel="stylesheet">
}

<div class="jumbotron jbt-main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>OneScript</h1>
                <p>Инструмент автоматизации для специалистов по 1С</p>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-success center-block download-button" onclick="location.href='/downloads'"><span class="glyphicon glyphicon-cloud-download"></span> Скачать</button>
            </div>
        </div>
    </div>
</div> <!-- /container -->


<div class="container">

        <div class="row">
            <div class="col-md-9">
                <p class="lead">Проект является независимой кросс-платформенной реализацией виртуальной машины, исполняющей скрипты на языке 1С:Предприятие.</p>
                <p>При этом библиотеки системы 1С:Предприятие не используются и не требуется установка системы 1С:Предприятие на целевой машине.</p>
                <p>Иными словами, это возможность писать программы на языке 1С без использования платформы 1С:Предприятие.</p>
                <h3>Название и произношение</h3>
                <p>Проект носит название <em>OneScript</em>, может быть сокращен при написании до названия <em>1Script</em>.</p>
                <p>OneScript позволяет создавать и выполнять текстовые сценарии, написанные на языке, знакомом любому специалисту по системе 1С:Предприятие. Применение знакомого языка для скриптовой автоматизации позволяет значительно повысить продуктивность специалиста за счет более простой автоматизации ручных операций.</p>
                <h3>Основные возможности</h3>
                <ul>
                    <li>Использование в качестве среды исполнения текстовых сценариев на языке 1С;</li>
                    <li>Построение консольных приложений, написанных на языке 1С;</li>
                    <li>Встраивание в стороннюю программную среду в качестве среды исполнения текстовых сценариев на языке 1С.</li>
                </ul>
                <h3>Совместимость языка</h3>
                <p>1Script поддерживает все возможности встроенного языка, перечисленные в ветке "Описание встроенного языка" стандартного синтакс-помощника:</p>
                <ul>
                    <li>Нестрогая типизация</li>
                    <li>Условия</li>
                    <li>Циклы</li>
                    <li>Исключения</li>
                    <li>Доступ к массивам</li>
                    <li>Доступ к COMОбъектам</li>
                    <li>Встроенные функции работы с примитивными типами</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Новости и статьи</h4>
                <ul class="link-list" id="news">
                    @foreach(var ЗаписьНовости in @Model.СписокНовостей) {
                    <li>
                        <a href="@ЗаписьНовости.Ссылка">@ЗаписьНовости.ДатаЗаписи @ЗаписьНовости.Заголовок</a>
                    </li>
                    }
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Прими участие в проекте!</h3>
                <p>
                    1Script разрабатывается группой энтузиастов на безвозмездной основе. Поэтому, мы приветствуем любую помощь проекту. Нам нужен, например, логотип проекта.
                </p>
                <p>Вы можете также доработать документацию проекта или изменить какой-то текст на этом сайте. Вы можете даже доработать этот сайт целиком, например, поменять дизайн или сделать более удобный синтакс-помощник.</p>
                <p>Иными словами, мы рады любым идеям, не стесняйтесь писать нам.</p>
                <p>Подробнее о том, чем можно помочь и какие выгоды это сулит - можно прочитать на <a href="/dev/contribute">специальной страничке</a></p>
            </div>
        </div>
    
        <h3 style="margin-top: 20px">Благодарности</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="https://silverbulleters.org/"><img src="https://static.tildacdn.com/tild3235-3935-4563-b437-633364626566/logo.png" /></a>
                    <div class="caption">
                        <h4>SilverBulleters</h4>
                        <p>За информационную и идеологическую и вообще всякую поддержку, за опыт и знания, за формирование и преобразование отрасли разработки под 1С и вклад в сообщество.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="https://infostart.ru"><img src="/theme/images/infostart.jpg" /></a>
                    <div class="caption">
                        <h4>Infostart</h4>
                        <p>"Infostart.ru" - за уникальное сообщество профессионалов, творческих личностей, драйв и информационную поддержку.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="https://www.jetbrains.com"><img src="/theme/images/jetbrains.svg"/></a>
                    <div class="caption">
                        <h4>JetBrains</h4>
                        <p>За предоставленные бесплатные лицензии на замечательные продукты <a href="https://www.jetbrains.com/resharper/">Resharper</a>, <a href="https://www.jetbrains.com/resharper/">Rider</a> и др.</p>
                        <p>А также за лицензионную политику в отношении Open Source.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/dev/contribute"><img src="/theme/images/Open_Source.gif"/></a>
                    <div class="caption">
                        <h4>Сообщество разработчиков</h4>
                        <p>За использование продукта, за помощь в разработке, за финансовую и моральную поддержку.</p>
                        <p>Viva la Resistance!</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
    
</div>