<div class="header-infoblock">
    <div class="container">
        <div class="row text-center">
            <h1 class="theme-color-main title-main w-100">OneScript</h1>
        </div>    
        <div class="row text-center">
            <h2 class="w-100">Инструмент автоматизации для специалистов по 1С</h2>
        </div>
        <div class="row justify-content-md-center header-infoblock-block">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="btn btn-lg btn-warning" href="/docs/page/getting-started" role="button">Быстрый старт</a>
                </li>
                <li class="list-inline-item">
                    <a class="header-infoblock-link text-light" href="/docs">Руководство ></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row block-height-50"></div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <figure class="figure">
                <img data-src="holder.js/300x300" class="figure-img img-fluid rounded" alt="300x300" style="width: 300px; height: 300px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22400%22%20height%3D%22300%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20300%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16856efa74c%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A20pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16856efa74c%22%3E%3Crect%20width%3D%22400%22%20height%3D%22300%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22150.8046875%22%20y%3D%22159.1171875%22%3E300x300%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
            </figure>
        </div>
        <div class="col-md-5">
            <h3>Lorem ipsum dolor sit amet</h3>
            <span class="align-middle"> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum diam ligula, blandit id tristique nec, ultrices in nisl. Ut dui diam, tempus ac augue et, dapibus placerat leo. Sed a arcu sapien. Phasellus sed enim venenatis, aliquam libero at, aliquet dolor. Sed interdum odio vitae augue pharetra venenatis. Nullam luctus tellus id commodo consectetur. Integer felis lorem, semper et mauris ac, dignissim ultrices odio. Integer dignissim aliquet felis, vitae dignissim est volutpat finibus.
            </span>
        </div>
    </diV>

    <div class="bd-featurette block-height-50"></div>
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <h3>Lorem ipsum dolor sit amet</h3>
            <span class="align-middle"> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum diam ligula, blandit id tristique nec, ultrices in nisl. Ut dui diam, tempus ac augue et, dapibus placerat leo. Sed a arcu sapien. Phasellus sed enim venenatis, aliquam libero at, aliquet dolor. Sed interdum odio vitae augue pharetra venenatis. Nullam luctus tellus id commodo consectetur. Integer felis lorem, semper et mauris ac, dignissim ultrices odio. Integer dignissim aliquet felis, vitae dignissim est volutpat finibus.
            </span>
        </div>
        <div class="col-md-4">
            <figure class="figure">
                <img data-src="holder.js/300x300" class="figure-img img-fluid rounded" alt="300x300" style="width: 300px; height: 300px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22400%22%20height%3D%22300%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20300%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16856efa74c%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A20pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16856efa74c%22%3E%3Crect%20width%3D%22400%22%20height%3D%22300%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22150.8046875%22%20y%3D%22159.1171875%22%3E300x300%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
            </figure>
        </div>
    </diV>

    <div class="bd-featurette block-height-50"></div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <figure class="figure">
                <img data-src="holder.js/300x300" class="figure-img img-fluid rounded" alt="300x300" style="width: 300px; height: 300px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22400%22%20height%3D%22300%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20300%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16856efa74c%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A20pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16856efa74c%22%3E%3Crect%20width%3D%22400%22%20height%3D%22300%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22150.8046875%22%20y%3D%22159.1171875%22%3E300x300%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
            </figure>
        </div>
        <div class="col-md-5">
            <h3>Lorem ipsum dolor sit amet</h3>
            <span class="align-middle"> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum diam ligula, blandit id tristique nec, ultrices in nisl. Ut dui diam, tempus ac augue et, dapibus placerat leo. Sed a arcu sapien. Phasellus sed enim venenatis, aliquam libero at, aliquet dolor. Sed interdum odio vitae augue pharetra venenatis. Nullam luctus tellus id commodo consectetur. Integer felis lorem, semper et mauris ac, dignissim ultrices odio. Integer dignissim aliquet felis, vitae dignissim est volutpat finibus.
            </span>
        </div>
    </diV>

    <div class="bd-featurette block-height-50"></div>
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <h3>Lorem ipsum dolor sit amet</h3>
            <span class="align-middle"> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum diam ligula, blandit id tristique nec, ultrices in nisl. Ut dui diam, tempus ac augue et, dapibus placerat leo. Sed a arcu sapien. Phasellus sed enim venenatis, aliquam libero at, aliquet dolor. Sed interdum odio vitae augue pharetra venenatis. Nullam luctus tellus id commodo consectetur. Integer felis lorem, semper et mauris ac, dignissim ultrices odio. Integer dignissim aliquet felis, vitae dignissim est volutpat finibus.
            </span>
        </div>
        <div class="col-md-4">
            <figure class="figure">
                <img data-src="holder.js/300x300" class="figure-img img-fluid rounded" alt="300x300" style="width: 300px; height: 300px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22400%22%20height%3D%22300%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20300%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16856efa74c%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A20pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16856efa74c%22%3E%3Crect%20width%3D%22400%22%20height%3D%22300%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22150.8046875%22%20y%3D%22159.1171875%22%3E300x300%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
            </figure>
        </div>
    </diV>
    <div class="bd-featurette block-height-50"></div>
</diV>

<div class="container">
    <div class="row justify-content-md-center">
        <h2>Благодарности</h2>
    </diV>

    <div class="block-height-50"></div>

    <div class="card-deck mb-3 text-center">
        <div class="card mb-3 box-shadow">
            <div class="cart-header-theme">
                <h4 class="font-weight-normal">SilverBulleters</h4>
            </div>
            <div class="card-body">
                <a href="https://silverbulleters.org/" target="_blank">
                    <img src="https://static.tildacdn.com/tild3235-3935-4563-b437-633364626566/logo.png" alt="..." class="img-thumbnail">
                </a>
               <span>
                   За информационную и идеологическую и вообще всякую поддержку, за опыт и знания, 
                   за формирование и преобразование отрасли разработки под 1С и вклад в сообщество.
                </span>
            </div>
        </div>
        <div class="card mb-3 box-shadow">
            <div class="cart-header-theme">
                <h4 class="font-weight-normal">Infostart</h4>
            </div>
            <div class="card-body">
                <a href="https://infostart.ru" target="_blank">
                    <img src="/theme/images/infostart.jpg" alt="Infostart" class="img-thumbnail">
                </a>
                <span>За уникальное сообщество профессионалов, творческих личностей, драйв и информационную поддержку.</span>
            </div>
        </div>
        <div class="card mb-3 box-shadow">
            <div class="cart-header-theme">
                <h4 class="font-weight-normal">JetBrains</h4>
            </div>
            <div class="card-body">
                <a href="https://www.jetbrains.com" target="_blank">
                    <img src="/theme/images/jetbrains.svg" alt="JetBrains" class="img-thumbnail">
                </a>
                <span>
                    За предоставленные бесплатные лицензии на замечательные продукты 
                    <a href="https://www.jetbrains.com/resharper/" target="_blank">Resharper</a>, <a href="https://www.jetbrains.com/resharper/" target="_blank">Rider</a> и др.
                    А также за лицензионную политику в отношении Open Source.
                </span>
            </div>
        </div>
        <div class="card mb-3 box-shadow">
            <div class="cart-header-theme">
                <h4 class="font-weight-normal">Сообщество</h4>
            </div>
            <div class="card-body">
                <a href="/dev/contribute" target="_blank">
                    <img src="/theme/images/opensource.gif" alt="OpenSource" class="img-thumbnail">
                </a>
                <span>
                    За использование продукта, за помощь в разработке, за финансовую и моральную поддержку.
                    <p>Viva la Resistance!</p>
                </span>
            </div>
        </div>
    </div>
</diV>   
