<div class="container">
    <div class="row">
        <div class="col-md-12" style>
            <ul>
                @foreach(var УровеньРаздел in @Model.КартаСайта.ДеревоКонтента.Строки) {

                    <li>
                        <a href="@УровеньРаздел.Ссылка">@УровеньРаздел.Имя</a>
                    </li>

                    <ul>
                    @foreach(var УровеньПодраздел in @УровеньРаздел.Строки) {
                        <li>
                            <a href="@УровеньПодраздел.Ссылка">@УровеньПодраздел.Имя</a>
                        </li>
                        <ul>
                        @foreach(var УровеньСтраница in @УровеньПодраздел.Строки) {
 
                            <li>
                                <a href="@УровеньСтраница.Ссылка">@УровеньСтраница.Имя</a>
                            </li>

                        }
                        </ul>
                    }
                    </ul>
                }
            </ul>
        </div>
    </div>
</div>