<h1>Библиотеки</h1>
<p class="lead">По аналогии с другими скриптовыми языками программирования 1Script предусматривает использование разнообразных сторонних библиотек</p>
<p>Библиотеки распространяются в виде <em>пакетов</em> с использованием пакетного менеджера <b>opm</b>.</p>
<p>Кроме того, библиотеки могут распространятся в виде архивов.</p>
<h2>Стандартная библиотека пакетов</h2>
<p>В поставку OneScript уже входит набор наиболее часто используемых пакетов.Б.</p>
<p>Пакеты, которые не входят в основной дистрибутив 1Script собираются, размещаются и публикуются на специальном ресурсе <em>hub.oscript.io</em>.</p>
<p>Разработка всех пакетов ведется в <a href="https://github.com/oscript-library" target="_blank">отдельной организации на github.</a> Данный ресурс содержит наиболее полную и актуальную информацию по доступным пакетам для 1Script.</p>
<h2>Как создать свою библиотеку (пакет)</h2>
<p>В общем случае, движок 1Script ничего не знает об устройстве библиотеки и никак не диктует внутреннее устройство пакета. Подробнее о механизме загрузки пакета можно прочесть на странице @Html.ActionLink("Организация библиотек", "Page", new { controller = "Docs", id = "libraries"}).</p>
<h3>Соглашение об устройстве</h3>
<p>Существует соглашение об устройстве библиотеки, которое используется в стандартной библиотеке скриптов. Следование этому соглашению упрощает создание библиотек.</p>
<p>Чтобы создать библиотеку нужно:</p>
<ul>
    <li>Создать пустой каталог (корень библиотеки)</li>
    <li>В корне каталога создать подпапки "Классы" и "Модули"</li>
    <li>Файлы .os разместить в этих подпапках, согласно их функциональному назначению</li>
</ul>
<div>
    <img src="/content/images/lib_convention.png" alt="Схема библиотеки" width="640"/>
</div>