<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" href="/theme/theme.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="header"> 
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="d-flex flex-grow-1">
                    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
                    <a class="navbar-brand d-none d-lg-inline-block" href="/">
                        OneScript
                    </a>
                    <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="/">
                        <img src="//placehold.it/40?text=LOGO" alt="logo">
                    </a>
                    <div class="w-100 text-right">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>
                <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
                    <ul class="navbar-nav ml-auto flex-nowrap">
                        <li class="nav-item">
                            <a class="nav-link m-2 menu-item" href="/downloads">Скачать</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link m-2 menu-item" href="/docs/page/getstarted">Быстрый старт</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link m-2 menu-item" href="/docs/">Документация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link m-2 menu-item" href="/syntax/">Синтаксис</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link m-2 menu-item" href="/library/">Библиотеки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link m-2 menu-item" href="/dev/">Разработчикам</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="content">
            @RenderBody()
        </div>

        <div class="footer">
            <hr>
            <footer>
                <div>
                    <div class="bottom-footer">
                        <div class="col-md-12"> 
                            <ul class="footer-nav">
                            </ul>
                        </div>
                    </div>
                    <div class="row pull-center">
                        <p> &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &copy; OneScript 2018</p> 
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>  
</body>
</html>