<!-- <nav class="nav flex-column">
    <ul class="list-group">
        <li class="list-group-item nav-left-title active">
            @Model.НавигационноеМеню.Заголовок
        </li>
    @foreach(var ЗаписьНавигации in @Model.НавигационноеМеню.ТаблицаНавигации) {
        <li class="list-group-item nav-left">
            <a class="nav-link" href="@ЗаписьНавигации.Ссылка">@ЗаписьНавигации.Заголовок</a>
        </li>
    }
    </ul>
</nav> -->

@foreach(var ЗаписьНавигации in @Model.НавигационноеМеню.ТаблицаНавигации) {
    <li><a href="@ЗаписьНавигации.Ссылка">@ЗаписьНавигации.Заголовок</a></li>
}