@{
    ViewBag.Title = "OneScript - синтакс-помощник";
}

@section PageStylesheet{
    <link href="/theme/css/syntax.css" rel="stylesheet">
}

<div class="container">
    <div class="row">
        @await Html.PartialAsync("content")
    </div>
</div>
