@{
    ViewBag.Title = "OneScript - синтакс-помощник";
}

@section PageStylesheet{
    @if (Model.ИдентификаторСекции == "syntax"){
        <link href="/theme/css/syntax.css" rel="stylesheet">
    }
    else{
        <link href="/theme/css/articles.css" rel="stylesheet">
    }
}

<div class="container theme-container">
    <div class="row">
        @await Html.PartialAsync("content")
    </div>
</div>
