<div class="">
    <div class="row">
        <div class="col-md-3">
            <div class="">
                @await Html.PartialAsync("content-navbar")
            </div>
        </div>
        <div class="col-md-9">
            @await Html.PartialAsync("content")
        </div>
    </div>
</div>