@section PageStylesheet{
    <link href="/theme/css/home.css" rel="stylesheet">
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" style>
            <h2>Страница не найдена</h2>
            <a href="/">Вернуться на главную</a>
        </div>
    </div>
</div>