.page-footer {
	min-height: 70px;
	background-color: #eee;
	border-top: 1px solid #ddd;
	margin-top: 12px;
}
body{
    margin-bottom: 70px;
}
#donate{
    margin-top: 10pt;
}

.downloads-table td {
	vertical-align: middle !important;
}
