.page-footer {
	min-height: 70px;
	background-color: #eee;
	border-top: 1px solid #ddd;
	margin-top: 12px;
}
body{
    margin-bottom: 70px;
}
#donate{
    margin-top: 10pt;
}

.tab-comment {
	font-size: 9pt;
	margin-top: 10pt;
}

.info-sign {
    color: #1d8ded;
    margin-right: 5px;
    vertical-align: text-top;
}
