h1{
    font-size: 18pt;
}

h2{
    font-size: 16pt;
    font-weight: bold;
    padding: 10px;
    background: #eee;
}

h3{
    font-size: 16pt;
    font-style: italic;
    margin-top: 28px;
}

.theme-container {
    padding-left: 30px;
}