<div id="body">
    <div class="container">
        <div class="row">
            <article id="content" class="col-md-9">
                @Html.Raw(Model.Контент.Содержимое)
            </article>
        </div>
    </div>
</div>