:root {
  --global-color-theme: #ffc107;
}

a:hover, 
.a:hover {
   text-decoration: none !important;
   color: #ffc107;
}


.header-logo-style {
    color: var(--global-color-theme) !important;  
    font-weight: 400;
    font-size: 25px;
}

.btn-orange {
    color: #fff !important;
    background-color: #f16e00 !important;
    border-color: #f16e00 !important;
  }
  
  .btn-orange:hover {
    color: #000 !important;
    background-color: #fff !important;
    border-color: #fff!important;
  }
  
  .btn-orange:focus, .btn-orange.focus {
    box-shadow: 0 0 0 0.2rem #f16e00 !important;
  }
  
  .btn-orange.disabled, .btn-orange:disabled {
    color: #fff !important;
    background-color: #f16e00 !important;
    border-color: #f16e00 !important;
  }
  
  .btn-orange:not(:disabled):not(.disabled):active, .btn-orange:not(:disabled):not(.disabled).active,
  .show > .btn-orange.dropdown-toggle {
    color: #fff !important;
    background-color: #fff !important;
    border-color: #fff !important;
  }
  
  .btn-orange:not(:disabled):not(.disabled):active:focus, .btn-orange:not(:disabled):not(.disabled).active:focus,
  .show > .btn-orange.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #f16e00 !important;
  }

  .header-infoblock {
    background-color: #282c34; 
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .footer-infoblock
  {
    background-color: #282c34; 
    padding-top: 75px;
  }
  
  .header-infoblock-block {
    padding-top: 50px;
  }

  .theme-color-main {
    color: var(--global-color-theme) !important;
  }

  .header-infoblock h2 {
    color: white;
  }

  .header-infoblock-link {
    padding: .5rem 1rem;
    font-size: 20px;
  }


.block-height-50 {
  height: 50px;
}

.bd-featurette {
  margin-top: 50px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #eee;
}

.bd-featurette .highlight {
  text-align: left;
}

.bd-featurette .lead {
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  font-size: 1rem;
  text-align: center;
}


.cart-header-theme {
  /* background-color: #282c34;
  color: var(--global-color-theme) !important; */

  padding-top: 15px;
}

.img-thumbnail {
  height: 210px !important;
  width: 210px !important;
  border: none !important;
  margin-bottom: 15px !important;
}

.block-footer {
  color: white;
}

.footer-legeng {
  padding-top: 15px;
}

.social-link {
  padding-top: 30px;
  font-size: 30px;
}

.nav-footer {
  padding-top: 15px;
}

#body {
  /* background: linear-gradient(to right, white 50%, rgb(247, 247, 247) 50%); */
}

body {
  min-height: 100vh;
}

#content {
  background-color: white;
  /* background-color: transparent; */
}

#navigation {
  background-color: rgb(247, 247, 247);
  /* background-color: transparent; */
}



/* ul {
  margin: 0;
  padding: 0;
  list-style: none;
} */

#accordionMenu {
  max-width: 300px;
}

.side-panel-body {
  padding: 0;
}

.side-panel-group .panel+.panel {
  margin-top: 0;
  border-top: 0;
}

.side-panel-group .panel {
  border-radius: 0;
}

.side-panel-default > .panel-heading {
  color: #333;
  /* background-color: #fff;
  border-color: #e4e5e7; */
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.side-panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}

.side-panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

/* .side-panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: #eee;
}

.side-panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\e113";
}

.side-panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\e114";
} */

.side-panel-title > a {
  color: black;
}

.side-panel-body a {
  color: rgb(26, 26, 26);
}

.side-nav-list li {
  border: none;
}

.custom-content {
  /* min-height: calc(100vh - 389px); */
  /* min-height: calc(100vh - 453px); */
  min-height: calc(100vh - 414px);
}


/* Новые стили */

.title-main {
  margin-top: 0 !important; 
}

h1 {
  /* margin-top: 40px; */
  font-size: 60px;
  line-height: 65px;
  font-weight: 700;
}

a.nav-link {
  color: white !important; 
}

a.nav-link:hover, a.header-infoblock-link:hover {
  color: #ffc107 !important;
}

.content-body {
  margin-bottom: 120px;
}

article {
  padding-bottom: 20px;
  padding-left: 0 !important;
  padding-top: 20px;
}

.breadcrumb {
  padding-left: 0;
  background: transparent !important;
}

.breadcrumb-item a {
  color: black;
}

.breadcrumb-item a:hover {
  color: #ffc107 !important;
}

.col-md-9 {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.side-element-panel-active {
  width: 4px;
  height: 25px;
  padding-left: 16px;
  position: absolute;
  left: 0px;
  margin-top: -3px;
  border-left: 4px solid rgb(255, 193, 7);
}

.sidebar-right {
  height: 100%;
  /* width: 380px; */
  min-width: 31vw;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 64px;
  overflow-x: hidden;
  padding-top: 20px;
}

.footer-box {
  max-width: 50vw;
  margin-right: 10vw;
}

/* body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
} */

.list-group-item {
  background-color: transparent !important;
}

.row-breadcrumb {
  padding-top: 70px;
}



