.article {
    margin-top: 16pt;
}

.article-head {
    font-size: 14pt;
    margin-bottom: 4px;
    display: block;
}

.article-annotation {
    
}

h1 {
    font-size: 22pt;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 14pt;
    /*font-weight: bolder;*/
}