.download-button{
	padding: 18px 76px;
	font-size: large;
	margin-top: 2em;
}

ul.link-list {
	padding-left: 0px;
	list-style-type: none;
}

#news > li {
    font-size: small;
}

.thumbnail {
    height: 360px;
}

.thumbnail a > img {
    height: 170px;
    padding-top: 25px;
}