<div class="container">
    <div class="row">
        <h1>Скачать версию</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            @await Component.InvokeAsync("ПредставлениеАрхиваПО", new {data = Model.ТекущаяСборка})
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @Html.Raw(Model.Содержимое);
        </div>
    </div>
</div>