<div>
    <ul>
        <li><a href="/downloads/archive/night-build">Сборка ознакомительной версии</a></li>
        <li><a href="/downloads/archive/latest-dev">Сборка актуальной версии</a></li>
    </ul>
</div>