<div class="container">
    @await Html.PartialAsync("version-switcher")
    @await Html.PartialAsync("download-helper")

    <div class="row">
        <h3>Версии в разработке:</h3>
        @await Html.PartialAsync("dev-versions")
    </div>
    <div class="row">
        <h3>Предыдущие версии:</h3>
        @await Html.PartialAsync("old-versions")
    </div>
</div>