<div class="container">
    <div class="content-body">
        <div class="row">
            <div class="col-md-9">
                <h4>Актуальная версия</h4>
                <p><small>Стабильная версия, рекомендуемая к использованию в продуктивных системах.</small></p>
                @await Component.InvokeAsync("ПредставлениеАрхиваПО", new {data = Model.АктуальнаяСборка})
                
                <h4>Версия в разработке (ночная сборка):</h4>
                <p><small>Версия «Ночная сборка» предназначена для тестирования. В ней находятся самые свежие разработки, но возможны ошибки.</small></p>

                @await Component.InvokeAsync("ПредставлениеАрхиваПО", new {data = Model.НочнаяСборка})
                
                <h4>Предыдущие версии:</h4>
                <ul>
                    @foreach(var ЭлементСпискаСборок in Model.СписокСборок)
                    {
                        <li><a href="@ЭлементСпискаСборок.Ссылка">@ЭлементСпискаСборок.Заголовок</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>