<div class="container">
    <div class="row">
        <h1>Скачать OneScript</h1>
        <p>На этой странице можно скачать дистрибутивы OneScript для различных операционных систем. Версия <b>"Ночная сборка"</b> предназначена для тестирования. В ней находятся самые свежие разработки, но возможны ошибки</p>
    </div>
    <div class="row">
        <div class="col-md-9">
            <h2>Актуальная версия</h2>

            @await Component.InvokeAsync("ПредставлениеАрхиваПО", new {data = Model.АктуальнаяСборка})

            <h2>Версия в разработке (ночная сборка):</h2>

            @await Component.InvokeAsync("ПредставлениеАрхиваПО", new {data = Model.НочнаяСборка})
            
            <h3>Предыдущие версии:</h3>
            <ul>
                @foreach(var ЭлементСпискаСборок in Model.СписокСборок)
                {
                    <li><a href="@ЭлементСпискаСборок.Ссылка">@ЭлементСпискаСборок.Заголовок</a></li>
                }
            </ul>
        </div>
    </div>
</div>