<table class="table">
    <thead>
        <tr>
            <th>Имя файла</th>
            <th>Архитектура</th>
            <th>Вид дистрибутива</th>
            <th>Дата создания</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var СтрокаСборки in Model.ПолучитьСостав())
        {
            <tr>
                <td><a href="@СтрокаСборки.Ссылка">@СтрокаСборки.ИмяФайла</a></td>
                <td>@СтрокаСборки.Архитектура</td>
                <td>@СтрокаСборки.ВидДистрибутива</td>
                <td>@СтрокаСборки.ДатаФайла</td>
            </tr>
        }  
    </tbody>
</table>