<table class="table downloads-table">
    <thead>
        <tr>
            <th>Вид дистрибутива</th>
            <th>Дата публикации</th>
            <th colspan="2">Варианты</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var СтрокаСборки in Model.ПолучитьСостав())
        {
            <tr>
                <th rowspan="@СтрокаСборки.Варианты.Количество()">@СтрокаСборки.Наименование</th>
                <td>@СтрокаСборки.Варианты[0].ДатаФайла</td>
                <td>@СтрокаСборки.Варианты[0].Представление</td>
                <td><a class="btn btn-success" href="@СтрокаСборки.Варианты[0].Ссылка">Скачать</a></td>
            </tr>
            @for(int i = 1; i < СтрокаСборки.Варианты.Количество(); i++)
            {
                var СтрокаВарианта = СтрокаСборки.Варианты[i];
                <tr>
                    <td>@СтрокаВарианта.ДатаФайла</td>
                    <td>@СтрокаВарианта.Представление</td>
                    <td><a class="btn btn-success" href="@СтрокаВарианта.Ссылка">Скачать</a></td>
                </tr>
            }
        }  
    </tbody>
</table>