<table class="table">
    <tbody>
        @foreach(var СтрокаСборки in Model.Состав)
        {
            <tr>
                <td><a href="@СтрокаСборки.Ссылка">@СтрокаСборки.Наименование</a></td>
                <td>@СтрокаСборки.ВариантСборки</td>
                <td>@СтрокаСборки.ДатаСоздания</td>
            </tr>
        }  
    </tbody>
</table>