<table class="table">
    <thead>
        <tr>
            <td>Имя файла</td>
            <td>Архитектура</td>
            <td>Вид дистрибутива</td>
            <td>Дата создания</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var СтрокаСборки in Model.Состав)
        {
            <tr>
                <td><a href="@СтрокаСборки.Ссылка">@СтрокаСборки.Наименование</a></td>
                <td>@СтрокаСборки.Архитектура</td>
                <td>@СтрокаСборки.ВариантСборки.Представление</td>
                <td>@СтрокаСборки.ДатаСоздания</td>
            </tr>
        }  
    </tbody>
</table>