@foreach(var СтрокаСборки in Model.ПолучитьСостав())
{
    <h4>@СтрокаСборки.Наименование</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Файл</th>
                <th>Вид дистрибутива</th>
                <th>Дата публикации</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var СтрокаВарианта in СтрокаСборки.Варианты)
            {
                <tr>
                    <td><a href="@СтрокаВарианта.Ссылка">@СтрокаВарианта.ИмяФайла</a></td>
                    <td>@СтрокаВарианта.Представление</td>
                    <td>@СтрокаВарианта.ДатаФайла</td>
                </tr>
            }
        </tbody>
    </table>
}