<h3>Полезные статьи</h3>
<div class="article">
    <a class="article-head" href="http://infostart.ru/public/327581/">Использование OneScript для решения повседневных задач</a>
    <div class="article-annotation">Пошаговое руководство по настройке рабочего окружения для разработки на OneScript. Cтатья опубликована на портале infostart.ru</div>
</div>
<div class="article">
    <a class="article-head" href="https://infostart.ru/public/687869/">Начало работы с OneScript</a>
    <div class="article-annotation">Более современная пошаговая инструкция по установке инструментария и настройке IDE Visual Studio Code.</div>
</div>
<div class="article">
    <a class="article-head" href="https://infostart.ru/public/699642/">Обзор имеющихся библиотек OneScript</a>
    <div class="article-annotation">Обзор всего перечня свободно распространяемых библиотек и приложений на 1Script. Обязательно к прочтению!</div>
</div>
<div class="article">
    <a class="article-head" href="https://infostart.ru/public/791568/">Исчерпывающее руководство по созданию библиотеки 1Script</a>
    <div class="article-annotation">Наиболее полное руководство по созданию пакета библиотек и его публикации в хабе пакетов</div>
</div>
<div class="article">
    <a class="article-head" href="https://infostart.ru/public/540284/">Формы для 1Script</a>
    <div class="article-annotation">Описание библиотеки GUI для создания пользовательских интерфейсов. Автор ret-Phoenix</div>
</div>
<div class="article">
    <a class="article-head" href="https://infostart.ru/public/548028/">Автоматизация рутины в жизни специалиста по 1С </a>
    <div class="article-annotation">Транскрипт выступления EvilBeaver, посвященного 1Script на конференции Infostart Event 2015</div>
</div>
<div class="article">
    <a class="article-head" href="http://habrahabr.ru/post/223887/" target="_blank">Пишем интерпретатор скрипта и стековую машину</a>
    <div class="article-annotation">Первый публичный анонс разрабатываемого движка на Хабре и краткая история создания.</div>
</div>